/* Note: This file is for global styles such as buttons, links, and
  anything else used throughout the app. 
  Styles for individual components can be found in the components/styles folder.
*/

#root {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.13m;
  line-height: 1.5;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;
}

.btn {
  flex: 1;
  max-width: 120px;
  border: 1px solid #fff;
  height: 3em;
  color: #ee6c4d;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 1.2em;
  background-color: #293241;
}
.btn:hover {
  background-color: #ee6c4d;
  color: #3d5a80;
}

.form-btn {
  height: 3em;
  background-color: transparent;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
}

#submit-btn {
  color: #333;
}

#cancel-btn {
  color: rgb(110, 19, 19);
}

.list-container button {
  padding: 5px;
  background-color: transparent;
  color: #ee6c4d;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 0.7em;
}

@media (min-width: 700px) {
  .btn-container {
    grid-column: 2/4;
  }

  p {
    grid-column: 2/4;
  }

  h3 {
    grid-column: 2/4;
  }

  #logout-btn {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .copyright-container {
    grid-column: 2/4;
  }

  h4,
  ul {
    grid-column: 2/4;
  }
}
