#root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #293241;
  color: #fff;
  font-size: 1.13m;
  line-height: 1.5;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-container{
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #293241;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;

}

.header-text-container{
  padding: 2em;
  color: #fff;
  opacity: 1;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;
}

.btn{
  flex: 1;
  max-width: 120px;
  border: 1px solid #EE6C4D;
  height: 3em;
  color: #3D5A80;
  text-decoration: none;
  padding-top: 1.2em;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 3px;
}
.btn:hover{
  background-color: #EE6C4D;
}

.about-container{
  background-color: #3D5A80;
  padding: 2em;
  padding-top: 1em;
}

.about-container h1 {
  margin-top: inherit;
}